<%= content_for :body_class, "print-edition" %>

<div style="text-align: center; margin-bottom: 2em; page-break-after: avoid;" class="no-print">
  <button onclick="window.print()" style="padding: 1em 2em; font-family: 'Typewriter', serif; font-size: 1.2em; background: black; color: white; border: 2px solid black; border-radius: 10px; cursor: pointer;">
    Print JUMP News Edition
  </button>
</div>

<% @articles.each do |article| %>

<h1 class="article__title"><%= article.title %></h1>
<div class="article__byline">By <%= article.byline %> - <span class="article__byline-date"><%= article.fake_created_at %></span></div>
<div class="article__content">
  <%= raw(process_article_content(article.content)) %>
</div>

<% end %>

