<h1 class="article__title"><%= @article.title %></h1>
<div class="article__byline">By <%= @article.byline %> - <span class="article__byline-date"><%= @article.fake_created_at %></span></div>
<div class="article__content">
  <%= raw(process_article_content(@article.content)) %>
</div>
<a class="article__back-link" href="<%= root_path %>">Back to Home</a>