
<%= render 'authenticate' %>

<%= link_to 'Users Admin Dashboard', admin_users_path, class: 'admin-link' %>

<h1>Articles Admin Dashboard</h1>

<p>Warning: Publishing an article will send it as an email to all subscribers.</p>

<table>
    <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    <% @articles.each do |article| %>
    <tr>
        <td><a href="/articles/<%= article.stub %>"><%= article.title %></a></td>
        <td>
            <% if article.published %>
                Published
            <% else %>
                Draft
            <% end %>
        </td>
        <td>
             <% unless article.published %>
                <%= button_to 'Click to Publish', "/articles/#{article.id}/publish", method: :post, class: 'publish-button', data: { turbo: false } %><br/>
            <% end %>
            <%= button_to 'Edit', "/articles/#{article.id}/edit", method: :get, class: 'edit-button publish-button' %>
        </td>
    </tr>
    <% end %>
</table>