
<%= render 'authenticate' %>

<%= link_to 'Users Admin Dashboard', admin_users_path, class: 'admin-link' %>

<h1>Articles Admin Dashboard</h1>

<p>Warning: Publishing an article will send it as an email to all subscribers.</p>

<table>
    <tr>
        <th>Title</th>
        <th>Last Edited</th>
        <th>Published</th>
        <th>Actions</th>
    </tr>
    <% @articles.each do |article| %>
    <tr>
        <td><a href="/articles/<%= article.stub %>"><%= article.title %></a></td>
        <td><%= article.fake_created_at %></td>
        <td>
            <% if article.published %>
                Yes
            <% else %>
                No
            <% end %>
        </td>
        <td>
             <% unless article.published %>
                <%= button_to 'Click to Publish', "/articles/#{article.id}/publish", method: :post, class: 'publish-button', data: { turbo: false } %>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>