<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "JUMP News: Perceptive Minds Blown Dirt Cheap" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="JUMP News">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <nav id="main-nav"></nav>
      <a class="header" href="<%= root_path %>">
        <div class="masthead">JUMP News</div>
        <div class="subtitle"><%= Article.random_motto %></div>
      </a>
      <%= yield %>
    </main>
  </body>
</html>

<script>
  //# is the admin item in local storage (where memory is stored between pages) equal to "true"
  const admin = localStorage.getItem("admin") == "true"
  const firstName = localStorage.getItem("firstName")
  let navInnerHtml

  if (!firstName){
    navInnerHtml = `<a href="<%= new_user_path %>">Create an Account</a>`
  } else if (!admin) {
    navInnerHtml = `<span class="welcome">Welcome ${firstName}</span><button id="logout-button">Logout</button>`
  } else {
    navInnerHtml = `<span class="welcome">Welcome Admin ${firstName}</span><a href="<%= articles_path %>">See Admin Panel</a>`
  }

  document.querySelector("#main-nav").innerHTML = navInnerHtml
  const logoutButton = document.getElementById("logout-button")
  if (logoutButton){
    logoutButton.addEventListener("click", () => {
      localStorage.removeItem("firstName")
      localStorage.removeItem("admin")
      window.location.href = "/";
    })
  }
</script>
